@font-face {
    font-family: "CeraPro";
    src: 
        url("../fonts/CeraPro-Regular.eot") format("eot"),
        url("../fonts/CeraPro-Regular.woff2") format("woff2"),
        url("../fonts/CeraPro-Regular.woff") format("woff"),
        url("../fonts/CeraPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "HangedLetters";
    src: url("../fonts/HangedLetters.ttf") format("truetype");
}

$max-width: 1200px;
$min-width: 375px;
$color_accent: #46A358;
$color_text_main: #3D3D3D;
$color_text_addl: #727272;
$color_text_light: #ACACAC;

* {
    margin: 0;
    padding: 0;
    line-height: 0;
    box-sizing: border-box;
    font-family: "CeraPro";
}

.main-container {
    max-width: $max-width;
    min-width: $min-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
}
.button {
    background-color:$color_accent;
    border: 1px solid white;
    border-radius: 6px;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    fill: white;
    cursor: pointer;
    stroke: white;
    & svg {
        margin-left: 3px;
        vertical-align: middle;
    }
    &:hover {
        background-color:white;
        color: $color_accent;
        border: 1px solid $color_accent;
        fill: $color_accent;
        stroke: #46A358;
    }
}

.svg_button {
    border: unset;
    background-color: unset;
    cursor: pointer;
    fill: $color_text_main;
    &:hover {
        fill: $color_accent;
    }
}

.header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 78px;
    align-items:center;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
    &_buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &_button {
        font-weight: 500;
        padding: 10px 19px;
        width: 110px;
        & svg {
            vertical-align: bottom;
        }
    }
}

.nav {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-left: 90px;
    & a {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $color_text_main;
        margin-right: 50px;
        &:hover {
            font-weight: 700;
            padding-bottom: 28px;
            border-bottom: 3px solid $color_accent;
        }
    }
}

.logo {
    &_svg {
       fill:$color_accent; 
    }
}

.search {
    &_form {
        display: flex;
    }
    &_input {
        color: #A5A5A5;
        border: unset;
        text-align: end;
        margin-right: 10px;
        &:focus-visible {
            outline: unset;
        }
    }
}

.cart {
    &_button {
        margin-left: 30px;
        margin-right: 35px;
        position: relative;
    }
    &_indicator {
        position: absolute;
        left: 15px;
        top: -3px;
        background:  $color_accent;
        border-radius: 50%;
        border: 2px solid white;
        &-text {
            font-weight: 500;
            font-size: 10px;
            line-height: 13px;
            color: white;
            text-align: center;
            padding-left: 3px;
            padding-right: 3px;
        }
    }
}

.slider {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 17px;
    background: url('../img/background.png') no-repeat;
    background-position: right;
    background-size: 518px;
    &_text {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-top: 68px;
        padding-left: 40px;
        &-heading {
            font-weight: 900;
            font-size: 70px;
            line-height: 70px;
            text-transform: uppercase;
            color: $color_text_main;
            margin-bottom: 5px;
            &-span {
                color: $color_accent;
            }
        }
        &-welcome {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $color_text_main;
            padding-left: 3px;
            margin-bottom: 7px;
        }
        &-p {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: $color_text_addl;
            margin-bottom: 44px;
            padding-left: 3px;
        }
    }
    &_button {
        font-weight: 700;
        padding: 10px 20px;
        max-width: 140px;
    }
    &_pagination {
        text-align: center;
        margin-top: 60px;
        &-circle {
            width: 8px;
            height: 8px;
            display: inline-block;
            background:  rgba(70, 163, 88, 0.3);;
            border-radius: 50%;
            &:hover {
                background-color: $color_accent;
            }
        }
        &-circle-active {
            background-color: $color_accent;

        }
    } 
}

.catalog {
    margin-top: 46px;
    display: grid;
    grid-template-columns: 310px auto;
    grid-gap: 50px;
    &_nav {
        grid-column: 1/4;
        font-weight: 400;
        font-size: 15px;
        line-height: 16px;
        color: $color_text_main;
        display: flex;
        width: 257px;
        justify-content: space-between;
        list-style: none;
        cursor: pointer;
        & li {
            &:hover {
                color: $color_accent;
                font-weight: 700;
                padding-bottom: 15px;
                border-bottom: 2px solid $color_accent;
            }
        }
        &-accent {
            color: $color_accent;
            font-weight: 700;
            padding-bottom: 15px;
            border-bottom: 2px solid $color_accent;
        }
    }
    &_products {
        margin-top: 31px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 33px;
        grid-row-gap: 70px;
    }
    &_product {   
        border:1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &:hover {
            border-top: 1px solid $color_accent;
        }
        &-active {
            border-top: 1px solid $color_accent;
        }
        & figure {
            text-align: center;
            position: relative;
        }
        &-name {
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: $color_text_main;
            padding-top: 31px;
            padding-bottom: 6px;
        }
        &-price {
            font-weight: 700;
            font-size: 18px;
            line-height: 16px;
            color: $color_accent;
        }
        &-menu {
            position: absolute;
            left:50%;
            transform:translate(-50%,-50%);
            display: flex;
            &-button:first-child {
                margin-right: 26px;
            }
        }
    }
}

.filter {
    &_heading {
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        color: $color_text_main;
        padding-left: 18px;
        padding-bottom: 7px;
    }
    &_list li{
        font-weight: 400;
        font-size: 15px;
        line-height: 16px;
        color: $color_text_main;
        padding-top: 13px;
        padding-bottom: 13px;
        list-style-type: none;
        padding-left: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        & span {
            margin-right: 24px;
        }
        &:hover {
            font-weight: 700;
            color: $color_accent;
        }
    }
    &_button {
        font-weight: 700;
        padding: 8px 26px;
        max-width: 140px;
        margin-left: 30px;
        margin-bottom: 46px;
    }
}

.sale {
    background: linear-gradient(180deg, rgba(70, 163, 88, 0.1) 0%, rgba(70, 163, 88, 0.03) 100%);
    margin-top: 19px;
    background-size: 470px;
    &_heading {
        font-family: "HangedLetters";
        font-style: normal;
        font-weight: 400;
        font-size: 65px;
        line-height: 65px;
        color: $color_accent;
        padding-top: 18px;
        text-align: center;
    }
    &_text {
        font-weight: 700;
        font-size: 23px;
        line-height: 16px;
        text-align: center;
        color: $color_text_main;
        text-transform: uppercase;
        padding-top: 11px;
    }
}

.news {
    margin-top: 219px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 28px;
    &_block {
        display: flex;
        padding-bottom: 10px;
    }
    &_text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
    &_heading {
        font-weight: 900;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        color: $color_text_main;
        max-width: 150px;
        text-align: end;
    }
    &_p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: $color_text_addl;
        max-width: 292px;
        text-align: end;
        padding-top: 15px;
        padding-bottom: 20px;
    }
    &_button {
        font-weight: 500;
        font-size: 14px;
        padding: 8px 26px;
        max-width: 150px;
    }
}

.blog {
    margin-top: 138px;
    &-heading {
        font-weight: 700;
        font-size: 30px;
        line-height: 16px;
        text-align: center;
        color: $color_text_main;
    }
    &-p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: $color_text_addl;
        padding-top: 15px;
        padding-bottom: 35px;
    }
    &_posts {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 44px;
    }
    &_post {
        &-text {
            padding-left: 15px;
            padding-right: 11px;
            padding-top: 9px;
        }
        &-time {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: $color_accent;
        }
        &-heading {
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            color: $color_text_main;
        }
        &-p {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: $color_text_addl;
            padding-top: 4px;
            padding-bottom: 9px;
        }
        &-link {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: $color_text_main;
            text-decoration: none;
            fill: $color_text_main;
            &:hover {
                color:$color_accent;
                fill:$color_accent;
            }
            & svg {
                margin-left: 6px;
                vertical-align: middle;
            }
        }
    }
}

.contacts {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    background: rgba(70, 163, 88, 0.1);
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 23px;
    &_block {
        display: flex;
        align-items: center;
        &-p {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: $color_text_main;
        }
        & svg {
            margin-right: 13px;
        }
        &-media {
            border: 1px solid rgba(70, 163, 88, 0.2);
            border-radius: 4px;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
        }
    }
}


.modal {
    &-container {
        width: 578px;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
        transition: all 0.3s ease;
    }
    &-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: table;
        transition: opacity 0.3s ease;
    }
    
    &-wrapper {
        display: table-cell;
        vertical-align: middle;
    }
    &_close_btn {
        align-self: end;
        margin-top: 20px;
        margin-right: 17px;
        fill: rgba(70, 163, 88, 0.6);
        border: unset;
        background-color: unset;
        cursor: pointer;
        width: 12px;
        height: 12px;
        &:hover {
            fill: $color_accent;
        }
    }
    &_empty {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: $color_text_main;
        text-align: center;
    }
    &_footer {
        margin-top: 50px;
        height: 10px;
        background-color:$color_accent;
    }
    &_caption {
        font-weight: 700;
        font-size: 15px;
        line-height: 16px;
        color: $color_text_main;
        margin-bottom: 12px;

        text-align: left;
    }
    &_table {
        width: 495px;
        align-self: center;
        border-collapse: collapse;
        &-header {
            border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
        }
        &-header-th {
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            color: $color_text_main;
            padding-bottom: 11px ;
            padding-top: 10px;
            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
                padding-right: 13px;
            }
        }

        &-total {
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            color: $color_text_main;
            text-align: center;
            padding-top: 10px;
            &-price {
                font-size: 18px;
                text-align: right;
                color: $color_accent;
                padding-right: 13px;
            }
        }

        &-row td {
            margin-top: 15px;
        }
        &-product {
            display: flex;
            align-items:center;
        }
        &-img {
            width: 65px;
        }
        &-name {
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            color: $color_text_main;
            padding-left: 11px;
        }
        &-qty {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: $color_text_addl;
            &-block {
                display: flex;
                justify-content: center;
                align-items:center;
            }
            &-btn {
                background: linear-gradient(180deg, #46A358 0%, rgba(70, 163, 88, 0.8) 100%);
                border: 1px solid white;
                border-radius: 29px;
                cursor: pointer;
                color: white;
                font-weight: 400;
                font-size: 20px;
                line-height: 16px;
                margin-left: 11px;
                margin-right: 11px;
                &:first-child {
                    padding: 5px 6px;
                }
                &:last-child {
                    padding: 5px 4px;
                }
                &:hover {
                    border: 1px solid $color_accent;
                }
            }
        }
        &-price {
            font-weight: 700;
            font-size: 18px;
            line-height: 16px;
            text-align: right;
            color: $color_accent;
            padding-right: 13px;
            padding-top: 27px;
            padding-bottom: 27px;
        }
        &-delete-btn {
            background-color:unset;
            border: unset;
            stroke: $color_text_addl;
            cursor: pointer;
            &:hover {
                stroke: $color_accent;
            }
            & svg {
                width: 15px;
            }
        }
    }

    &-enter {
        opacity: 0;
    }
      
    &-leave-active {
        opacity: 0;
    }
      
    &-enter &-container,
    &-leave-active &-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@media (max-width: 425px) {
    .header {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 78px;
        align-items:center;
        border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
        &_buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        &_button {
            font-weight: 500;
            padding: 10px 19px;
            width: 110px;
            & svg {
                vertical-align: bottom;
            }
        }
    }
    
    .nav {
        display: none;
    }
    
    .logo {
        &_svg {
           fill:$color_accent; 
        }
    }
    
    .search {
        display: none;
    }
    .cart {
        display: none;
    }

    .slider {
        margin-top: 17px;
        margin-bottom: 40px;
        background: url('../img/background_mobile.png') no-repeat;
        &_text {
            width: 50%;
            padding-top: 24px;
            padding-left: 23px;
            &-heading {
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 3px;
            }
            &-welcome {
                font-size: 11px;
                letter-spacing: unset;
                padding-left: unset;
                margin-bottom: unset;
            }
            &-p {
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 11px;
                padding-left: unset;
            }
        }
        &_button {
            background: transparent;
            border: unset;
            border-radius: unset;
            font-weight: 700;
            padding: unset;
            max-width: 70px;
            font-size: 12px;
            line-height: 14px;
            color: $color_accent;
            fill: $color_accent;
                & svg {
                    margin-left: 5px;
                }
        }
        &_pagination {
            margin-top: 12px;
            &-circle {
                width: 7px;
                height: 7px;
            }
        } 
    }

    .catalog {
        margin-top: 19px;
        grid-template-columns: auto;
        grid-gap: 19px;
        &_nav {
            font-size: 14px;
            width: 257px;
            justify-content: space-between;
        }
        &_products {
            margin-top: 19px;
            grid-template-columns: repeat(2, auto);
            grid-column-gap: 19px;
            grid-row-gap: 25px;
        }
        &_product {   
            & img {
                width: 168px;
            }
            &-name {
                font-size: 15px;
                color: $color_text_main;
                padding-top: 9px;
                padding-bottom: 4px;
            }
            &-price {
                font-size: 16px;
            }
            &-menu {
            }
        }
    }
    
    .filter {
        display: none;
    }
    
    .sale {
        display: none;
    }

    .news {
        margin-top: 50px;
        grid-template-columns: auto;
        grid-gap: 15px;
        &_block {
            display: flex;
            padding-bottom: 10px;
            & img {
                width: 168px;
            }
        }
        &_heading {
            font-size: 14px;
            line-height: 16px;
            max-width: 140px;
            text-align: end;
        }
        &_p {
            font-size: 12px;
            line-height: 18px;
            max-width: 140px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        &_button {
            font-weight: 500;
            font-size: 12px;
            padding: 6px 18px;
            max-width: 120px;
        }
    }
    
    .blog {
        margin-top: 50px;
        &-heading {
            font-size: 20px;
            line-height: 14px;
        }
        &-p {
            font-size: 12px;
            line-height: 20px;
            padding-top: 15px;
            padding-bottom: 20px;
        }
        &_posts {
            grid-template-columns: auto;
            grid-gap: 25px;
        }
        &_post {
            &-text {
                padding-left: 10px;
                padding-right: 10px;
            }
            &-time {
                font-size: 12px;
                line-height: 14px;
            }
            &-heading {
                font-size: 14px;
                line-height: 20px;
            }
            &-p {
                font-size: 12px;
                line-height: 14px;
                padding-top: 2px;
                padding-bottom: 6px;
            }
            &-link {
                font-size: 12px;
                line-height: 14px;
                & svg {
                    margin-left: 3px;
                }
            }
        }
    }
    
    .contacts {
        margin-top: 50px;
        grid-template-columns: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        &_block {
            &-p {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}
