@font-face {
  font-family: "CeraPro";
  src: url("../fonts/CeraPro-Regular.eot") format("eot"), url("../fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "HangedLetters";
  src: url("../fonts/HangedLetters.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "CeraPro";
}

.main-container {
  max-width: 1200px;
  min-width: 375px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.button {
  background-color: #46A358;
  border: 1px solid white;
  border-radius: 6px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  fill: white;
  cursor: pointer;
  stroke: white;
}

.button svg {
  margin-left: 3px;
  vertical-align: middle;
}

.button:hover {
  background-color: white;
  color: #46A358;
  border: 1px solid #46A358;
  fill: #46A358;
  stroke: #46A358;
}

.svg_button {
  border: unset;
  background-color: unset;
  cursor: pointer;
  fill: #3D3D3D;
}

.svg_button:hover {
  fill: #46A358;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 78px;
      grid-template-rows: 78px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}

.header_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_button {
  font-weight: 500;
  padding: 10px 19px;
  width: 110px;
}

.header_button svg {
  vertical-align: bottom;
}

.nav {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  margin-left: 90px;
}

.nav a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #3D3D3D;
  margin-right: 50px;
}

.nav a:hover {
  font-weight: 700;
  padding-bottom: 28px;
  border-bottom: 3px solid #46A358;
}

.logo_svg {
  fill: #46A358;
}

.search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search_input {
  color: #A5A5A5;
  border: unset;
  text-align: end;
  margin-right: 10px;
}

.search_input:focus-visible {
  outline: unset;
}

.cart_button {
  margin-left: 30px;
  margin-right: 35px;
  position: relative;
}

.cart_indicator {
  position: absolute;
  left: 15px;
  top: -3px;
  background: #46A358;
  border-radius: 50%;
  border: 2px solid white;
}

.cart_indicator-text {
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  color: white;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 12px;
  margin-bottom: 17px;
  background: url("../img/background.png") no-repeat;
  background-position: right;
  background-size: 518px;
}

.slider_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-top: 68px;
  padding-left: 40px;
}

.slider_text-heading {
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: #3D3D3D;
  margin-bottom: 5px;
}

.slider_text-heading-span {
  color: #46A358;
}

.slider_text-welcome {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D3D3D;
  padding-left: 3px;
  margin-bottom: 7px;
}

.slider_text-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
  margin-bottom: 44px;
  padding-left: 3px;
}

.slider_button {
  font-weight: 700;
  padding: 10px 20px;
  max-width: 140px;
}

.slider_pagination {
  text-align: center;
  margin-top: 60px;
}

.slider_pagination-circle {
  width: 8px;
  height: 8px;
  display: inline-block;
  background: rgba(70, 163, 88, 0.3);
  border-radius: 50%;
}

.slider_pagination-circle:hover {
  background-color: #46A358;
}

.slider_pagination-circle-active {
  background-color: #46A358;
}

.catalog {
  margin-top: 46px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 310px auto;
      grid-template-columns: 310px auto;
  grid-gap: 50px;
}

.catalog_nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: #3D3D3D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 257px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.catalog_nav li:hover {
  color: #46A358;
  font-weight: 700;
  padding-bottom: 15px;
  border-bottom: 2px solid #46A358;
}

.catalog_nav-accent {
  color: #46A358;
  font-weight: 700;
  padding-bottom: 15px;
  border-bottom: 2px solid #46A358;
}

.catalog_products {
  margin-top: 31px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  grid-column-gap: 33px;
  grid-row-gap: 70px;
}

.catalog_product {
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.catalog_product:hover {
  border-top: 1px solid #46A358;
}

.catalog_product-active {
  border-top: 1px solid #46A358;
}

.catalog_product figure {
  text-align: center;
  position: relative;
}

.catalog_product-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #3D3D3D;
  padding-top: 31px;
  padding-bottom: 6px;
}

.catalog_product-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #46A358;
}

.catalog_product-menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog_product-menu-button:first-child {
  margin-right: 26px;
}

.filter_heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #3D3D3D;
  padding-left: 18px;
  padding-bottom: 7px;
}

.filter_list li {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: #3D3D3D;
  padding-top: 13px;
  padding-bottom: 13px;
  list-style-type: none;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.filter_list li span {
  margin-right: 24px;
}

.filter_list li:hover {
  font-weight: 700;
  color: #46A358;
}

.filter_button {
  font-weight: 700;
  padding: 8px 26px;
  max-width: 140px;
  margin-left: 30px;
  margin-bottom: 46px;
}

.sale {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(70, 163, 88, 0.1)), to(rgba(70, 163, 88, 0.03)));
  background: linear-gradient(180deg, rgba(70, 163, 88, 0.1) 0%, rgba(70, 163, 88, 0.03) 100%);
  margin-top: 19px;
  background-size: 470px;
}

.sale_heading {
  font-family: "HangedLetters";
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 65px;
  color: #46A358;
  padding-top: 18px;
  text-align: center;
}

.sale_text {
  font-weight: 700;
  font-size: 23px;
  line-height: 16px;
  text-align: center;
  color: #3D3D3D;
  text-transform: uppercase;
  padding-top: 11px;
}

.news {
  margin-top: 219px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 28px;
}

.news_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

.news_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news_heading {
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #3D3D3D;
  max-width: 150px;
  text-align: end;
}

.news_p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
  max-width: 292px;
  text-align: end;
  padding-top: 15px;
  padding-bottom: 20px;
}

.news_button {
  font-weight: 500;
  font-size: 14px;
  padding: 8px 26px;
  max-width: 150px;
}

.blog {
  margin-top: 138px;
}

.blog-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 16px;
  text-align: center;
  color: #3D3D3D;
}

.blog-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #727272;
  padding-top: 15px;
  padding-bottom: 35px;
}

.blog_posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  grid-gap: 44px;
}

.blog_post-text {
  padding-left: 15px;
  padding-right: 11px;
  padding-top: 9px;
}

.blog_post-time {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #46A358;
}

.blog_post-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #3D3D3D;
}

.blog_post-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #727272;
  padding-top: 4px;
  padding-bottom: 9px;
}

.blog_post-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #3D3D3D;
  text-decoration: none;
  fill: #3D3D3D;
}

.blog_post-link:hover {
  color: #46A358;
  fill: #46A358;
}

.blog_post-link svg {
  margin-left: 6px;
  vertical-align: middle;
}

.contacts {
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  background: rgba(70, 163, 88, 0.1);
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 23px;
}

.contacts_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts_block-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #3D3D3D;
}

.contacts_block svg {
  margin-right: 13px;
}

.contacts_block-media {
  border: 1px solid rgba(70, 163, 88, 0.2);
  border-radius: 4px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container {
  width: 578px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px auto;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal_close_btn {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-top: 20px;
  margin-right: 17px;
  fill: rgba(70, 163, 88, 0.6);
  border: unset;
  background-color: unset;
  cursor: pointer;
  width: 12px;
  height: 12px;
}

.modal_close_btn:hover {
  fill: #46A358;
}

.modal_empty {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #3D3D3D;
  text-align: center;
}

.modal_footer {
  margin-top: 50px;
  height: 10px;
  background-color: #46A358;
}

.modal_caption {
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  color: #3D3D3D;
  margin-bottom: 12px;
  text-align: left;
}

.modal_table {
  width: 495px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-collapse: collapse;
}

.modal_table-header {
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}

.modal_table-header-th {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #3D3D3D;
  padding-bottom: 11px;
  padding-top: 10px;
}

.modal_table-header-th:first-child {
  text-align: left;
}

.modal_table-header-th:last-child {
  text-align: right;
  padding-right: 13px;
}

.modal_table-total {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #3D3D3D;
  text-align: center;
  padding-top: 10px;
}

.modal_table-total-price {
  font-size: 18px;
  text-align: right;
  color: #46A358;
  padding-right: 13px;
}

.modal_table-row td {
  margin-top: 15px;
}

.modal_table-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal_table-img {
  width: 65px;
}

.modal_table-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #3D3D3D;
  padding-left: 11px;
}

.modal_table-qty {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #727272;
}

.modal_table-qty-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal_table-qty-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#46A358), to(rgba(70, 163, 88, 0.8)));
  background: linear-gradient(180deg, #46A358 0%, rgba(70, 163, 88, 0.8) 100%);
  border: 1px solid white;
  border-radius: 29px;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  margin-left: 11px;
  margin-right: 11px;
}

.modal_table-qty-btn:first-child {
  padding: 5px 6px;
}

.modal_table-qty-btn:last-child {
  padding: 5px 4px;
}

.modal_table-qty-btn:hover {
  border: 1px solid #46A358;
}

.modal_table-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  text-align: right;
  color: #46A358;
  padding-right: 13px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.modal_table-delete-btn {
  background-color: unset;
  border: unset;
  stroke: #727272;
  cursor: pointer;
}

.modal_table-delete-btn:hover {
  stroke: #46A358;
}

.modal_table-delete-btn svg {
  width: 15px;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media (max-width: 425px) {
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 78px;
        grid-template-rows: 78px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
  }
  .header_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_button {
    font-weight: 500;
    padding: 10px 19px;
    width: 110px;
  }
  .header_button svg {
    vertical-align: bottom;
  }
  .nav {
    display: none;
  }
  .logo_svg {
    fill: #46A358;
  }
  .search {
    display: none;
  }
  .cart {
    display: none;
  }
  .slider {
    margin-top: 17px;
    margin-bottom: 40px;
    background: url("../img/background_mobile.png") no-repeat;
  }
  .slider_text {
    width: 50%;
    padding-top: 24px;
    padding-left: 23px;
  }
  .slider_text-heading {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 3px;
  }
  .slider_text-welcome {
    font-size: 11px;
    letter-spacing: unset;
    padding-left: unset;
    margin-bottom: unset;
  }
  .slider_text-p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 11px;
    padding-left: unset;
  }
  .slider_button {
    background: transparent;
    border: unset;
    border-radius: unset;
    font-weight: 700;
    padding: unset;
    max-width: 70px;
    font-size: 12px;
    line-height: 14px;
    color: #46A358;
    fill: #46A358;
  }
  .slider_button svg {
    margin-left: 5px;
  }
  .slider_pagination {
    margin-top: 12px;
  }
  .slider_pagination-circle {
    width: 7px;
    height: 7px;
  }
  .catalog {
    margin-top: 19px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 19px;
  }
  .catalog_nav {
    font-size: 14px;
    width: 257px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .catalog_products {
    margin-top: 19px;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    grid-column-gap: 19px;
    grid-row-gap: 25px;
  }
  .catalog_product img {
    width: 168px;
  }
  .catalog_product-name {
    font-size: 15px;
    color: #3D3D3D;
    padding-top: 9px;
    padding-bottom: 4px;
  }
  .catalog_product-price {
    font-size: 16px;
  }
  .filter {
    display: none;
  }
  .sale {
    display: none;
  }
  .news {
    margin-top: 50px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 15px;
  }
  .news_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
  }
  .news_block img {
    width: 168px;
  }
  .news_heading {
    font-size: 14px;
    line-height: 16px;
    max-width: 140px;
    text-align: end;
  }
  .news_p {
    font-size: 12px;
    line-height: 18px;
    max-width: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .news_button {
    font-weight: 500;
    font-size: 12px;
    padding: 6px 18px;
    max-width: 120px;
  }
  .blog {
    margin-top: 50px;
  }
  .blog-heading {
    font-size: 20px;
    line-height: 14px;
  }
  .blog-p {
    font-size: 12px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .blog_posts {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 25px;
  }
  .blog_post-text {
    padding-left: 10px;
    padding-right: 10px;
  }
  .blog_post-time {
    font-size: 12px;
    line-height: 14px;
  }
  .blog_post-heading {
    font-size: 14px;
    line-height: 20px;
  }
  .blog_post-p {
    font-size: 12px;
    line-height: 14px;
    padding-top: 2px;
    padding-bottom: 6px;
  }
  .blog_post-link {
    font-size: 12px;
    line-height: 14px;
  }
  .blog_post-link svg {
    margin-left: 3px;
  }
  .contacts {
    margin-top: 50px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contacts_block-p {
    font-size: 12px;
    line-height: 18px;
  }
}
/*# sourceMappingURL=style.css.map */